/* portfolio */
.surren_logo img{
  width: 80px;
  height: 50px;
}
#nav_items{
  margin-left: 200px;
  gap: 20px;
 }
 /* .header_section{} */

/* .tabportfolio {
  margin-top: 3%;
  margin-left: 10%;
} */

/* .tech_one {
  display: flex;
  list-style: disc;
} */

/* .nav-item .nav-link {
  border-bottom: 1px solid black;
} */

.nav-item .nav-link.active {
  border-bottom: 4px solid #025EB8;
}

.one {
  width: 10%;
}

/* .buttonportfolio {
  background-color: #E9F5FC;
  border: none;
  color: #005EB8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-wrap: nowrap;
} */

/* .buttonportfolio.active {
  color: white;
  background-color: #005EB8;
} */

/* searchbtn */

.sumbtn {
  background-color: #0D66BC;
  color: white;
  width: 16%;
  z-index: -1;
}

.searchbtn {
  padding-top: 2%;
  margin-left: 10%;
  width: 50%;
  z-index: -1;
}

/* selected title */

.h1_title {
  padding-top: 3%;
  margin-left: 10%;
  font-family: Sumana, serif;
  font-weight: 400;
  color: #005eb8;
  font-size: 50px;
}

/* navigation breadcrumb*/

.breadcrumb {
  margin-top: 3%;
  margin-left: 3%;
}
.breadcrumb-item{
  text-decoration: none;
}

/* filter */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* img {
  width: 70%;
  border-radius: 4px;
  margin-left: 20px;
} */
.post-img {
  position: absolute;
  display: flex;
}
.b_post-img1{
  width: 55%;
  border-radius: 4px;
  margin-top: 20px;
  margin-left: 30px;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

/****************/
.main-container {
  width: 60vw;
  margin: 0 auto;
  padding: 40px 0;
}

.main-container>h2 {
  text-align: center;
  padding: 10px 0;
  font-size: 32px;
}

/* simple filter */
.main_category-head {
  margin: 30px 0;
}

.main_category-head ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.main_category-title {
  flex: 0 0 calc(16.6667% - 10px);
  display: flex;
  justify-content: center;
  /* background: #a8a8a8; */
  padding: 12px;
  color: black;
  margin: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  border-bottom: 2px solid #222;
  text-wrap: nowrap;
}

.main_category-title:hover {
  opacity: 0.7;
  color: #025EB8;
}

.main_category-title li {
  padding: 0 10px;
}

.main_category-title span {
  color: #222;
}
.main_category-title.active {
  border-bottom: 4px solid #025EB8;
  color: #025EB8;
}

/* .main-container>p {
  font-weight: 300;
  padding: 10px 0;
  opacity: 0.7;
  text-align: center;
} */

.category-head {
  margin: 30px 0;
}

.category-head ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.category-title {
  flex: 0 0 calc(16.6667% - 10px);
  display: flex;
  justify-content: center;
  background: #E9F5FC;
  padding: 12px;
  color: #025EB8;
  margin: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 25px;
  text-wrap: nowrap;
  /* border-bottom: 2px solid #222; */
}

.category-title:hover {
  opacity: 0.7;
}

.category-title li {
  padding: 0 10px;
}

.category-title span {
  color: #222;
}
.category-title.active {
  background-color: #025EB8;
  color: white;
}


.category-head_bysolution{
  margin: 30px 0;
}

.category-head_bysolution ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.maintwo_category-title{
  flex: 0 0 calc(16.6667% - 10px);
  display: flex;
  justify-content: center;
  background: #E9F5FC;
  padding: 12px;
  color: #025EB8;
  margin: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 25px;
  text-wrap: nowrap;
  /* border-bottom: 2px solid #222; */
}

.maintwo_category-title:hover {
  opacity: 0.7;
}

.maintwo_category-title li {
  padding: 0 10px;
}

.maintwo_category-title span {
  color: #222;
}
.maintwo_category-title.active {
  background-color: #025EB8;
  color: white;
}



/** single post **/
/* .img_contents{
  display: flex;
} */
.tab {
  overflow: hidden;
  flex: 0 0 calc(16.6667% - 10px);
  display: flex;
  justify-content: center;
  /* background: #E9F5FC; */
  background: transparent;
  padding: 12px;
  color: #025EB8;
  margin: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
  border-radius: 25px;
  text-wrap: nowrap;
  /* border: 1px solid #ccc; */
  /* background-color: #f1f1f1; */
}
.tab:hover {
  opacity: 0.7;
  color: #025EB8;
}

.tab li {
  padding: 0 10px;
}

.tab span {
  color: #222;
}
.tab.active {
  border-bottom: 4px solid #025EB8;
  color: #025EB8;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */

/* .tab button:hover {
  background-color: #ddd;
} */

/* Create an active/current tablink class */
.tab button.active {
  border-bottom: 4px solid #025EB8;
  color: #025EB8;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border-top: none;
}


.posts-main-container{
  display: block;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}


.all{
  border-radius: 4px;
  overflow: hidden;
  background: white;
  color: #000;
  box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.75);
  padding-bottom: 37px;
  margin: 3rem 0;
  /* display: block; */
  /* animation: fadeIn 2s; */
}

.posts-main-container>div {
  box-shadow: 0px 8px 22px -12px rgba(0, 0, 0, 0.64);
}

.category-name {
  position: absolute;
  top: 20px;
  left: 20px;
  text-transform: uppercase;
  font-size: 13px;
  /* color: #fff; */
  padding: 4px 10px;
  border-radius: 2px;
}

.business .category-name {
  background: #00a7ea;
}

.culture .category-name {
  background: #f03250;
}

.politics .category-name {
  background: #f0544f;
}

.finance .category-name {
  background: #2c2a4a;
}

.sports .category-name {
  background: #a1e44d;
}


.post-content {
  /* padding: 25px; */
  padding-left: 29%;
  display: block;
}

/* .post-content-top {
  background: #80ced7;
  color: #fff;
  opacity: 0.8;
  padding: 5px 0 5px 15px;
} */

/* .post-content-top span {
  padding-right: 20px;
} */

/* .post-content-top .fa-comment,
.post-content-top .fa-calendar {
  padding-right: 5px;
} */

.post-content h2 {
  font-size: 22px;
  padding: 12px 0;
  font-weight: 400;
}

.post-content p {
  opacity: 0.7;
  font-size: 15px;
  line-height: 1.8;
  text-align: left;
  margin-bottom: 0%;
}

/* .read-btn a {
  border: none;
  padding: 8px 11px;
  display: block;
  margin: 5px auto;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  cursor: pointer;
  border: 1px solid #292929;
  background: transparent;
  margin-bottom: 8px;
  text-decoration: none;
} */

/* .case-study-page .cs-list-wrapper .cs-item-wrapper .cs-content .cs-learn-more-btn{
  color: #005eb8;
  font-size: 14px;
} */
/* .case-study-page a{
  color: #2a5e8b;
} */
/* .btn-link-arrow--right{
  padding-right: 26px;
} */
.btnn{
  /* background-color: red; */
  border: none;
  box-shadow: none;
  font: inherit;
  cursor: pointer;
  margin-left: 29%;
  text-decoration: none;
  /* color: #005eb8; */
}

/* .read-btn:hover {
  background: #f6f6f6;
} */



/***************/
@media(max-width: 1170px) {
  .posts-main-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 768px) {
  .posts-main-container {
    grid-template-columns: 1fr;
  }
}


/***********/



/* .one {
  width: 10%;
} */

/* .buttonportfolio {
  background-color: #E9F5FC;
  border: none;
  color: #005EB8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  text-wrap: nowrap;
} */

/* .buttonportfolio.active {
  color: white;
  background-color: #005EB8;
} */

/* .nav-item .nav-link {
  border-bottom: 1px solid black;
} */






/* contact section */
.contact_section .heading_container {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.contact_section .contact-form {
  padding: 25px;
  border-radius: 20px;
}

.contact_section .contact-form input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  margin: 15px 0;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 30px;
}

.contact_section .contact-form input.input_message {
  height: 175px;
}

.contact_section .contact-form input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact_section .contact-form input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact_section .contact-form input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact_section .contact-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

.contact_section .contact-form button {
  border: none;
  outline: none;
  padding: 12px 50px;
  text-transform: uppercase;
  margin-top: 25px;
  background-color: #fec913;
  color: #fff;
  border-radius: 30px;
}

.contact_section .map_img-box {
  width: 80%;
  margin: 25px auto 0 auto;
}

.contact_section .map_img-box img {
  width: 100%;
}

/* end contact section */

.info_section {
  background-color: #232323;
  color: #ffffff;
  padding: 90px 0 45px 0;
}

.info_section h5 {
  margin-bottom: 25px;
  font-size: 24px;
}

.info_section .info_insta .insta_container>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_insta .insta_container img {
  width: 100%;
}

.info_section .info_insta .insta_container .insta-box {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  background-color: #ffffff;
  padding: 10px 20px;
}

.info_section .info_contact .img-box {
  width: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_section .info_contact p {
  margin: 0;
}

.info_section .info_contact>div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0;
}

.info_section .info_contact>div img {
  height: auto;
  margin-right: 12px;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

.info_section .info_form form button {
  display: inline-block;
  padding: 8px 30px;
  background-color: #fbca47;
  border: 1px solid #fbca47;
  color: #ffffff;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
}

.info_section .info_form form button:hover {
  background-color: transparent;
  color: #fbca47;
}

.info_section .info_form .social_box {
  margin-top: 35px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info_section .info_form .social_box a {
  margin-right: 25px;
}

.footer_section {
  background-color: #232323;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer_section p {
  padding: 20px 65px;
  color: #fbfcfd;
  margin: 0 auto;
  text-align: center;
  border-top: 1px solid #ffffff;
}

.footer_section a {
  color: #fbfcfd;
}