
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Times, "Times New Roman";
}
 /* Start Head container */
nav{
  background-color: traparant;
  position: fixed;
  width: 100%;
  z-index: 999;
  height: 65px;
  line-height:65px;
}

nav .wrapper {
  position: sticky;
  max-width: 1500px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navbar.scrolled {
  background-color: white; /* Change this to the desired color */
  
}
#navbar.scrolled ul li a{
  color: black;
}
#navbar.scrolled .logo a{
  color: black;
}
#navbar.scrolled ul li a:hover{
  color: red;
}
.wrapper .logo a{
  color: #fff;
  text-decoration: none;  
  font-size: 27px;
  font-weight: 600;
  padding-left: 80px;
}
.wrapper .nav-links {
  display: inline-flex;
}
.nav-links li{
  list-style: none;
}

.nav-links li a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 30px 0px 20px;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.nav-links ul li a:hover{
  color: red;
}
.nav-links .drop-menu{
  width: 180px;
  top: 85px;
  line-height: 45px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.nav-links li:hover .drop-menu,
.nav-links li:hover .mega-box{
  opacity: 1;
  top: 65px;
  visibility: visible;
  transition-duration: 1s;
}

.drop-menu li a {
  width: 100%;
  display: block;
  padding: 0 0 0 15px;
  font-weight: 400;
}
.mega-box{
  position: absolute;
  top: 85px;
  background: white;
  width: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.mega-box .content{
  background: white;
  padding: 25px 20px;
  display: flex;
  align-items: start;
  width: 100%;
  
}
.content .row{
  /* width: calc(100% - 50px); */
  line-height: 40px;
  font-size: smaller;
  
}
.content .row img{
  /* width: 50%; */
  height: 50%;
  margin-top: 100px;
}
#menu_head{
  color: black;
  font-size: 20px;
  font-weight: 800;
  
  /* background-color: red; */
}

.content .row .mega-links{
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}
.content .row:nth-child(1){
  border-left: 0px;
  width: max-width;
  /* background: red; */
}
.content .row:nth-child(2){
  /* background: white; */
  margin-left:100px;
  width: 300px;
}
#company_service .row:nth-child(3){
  /* background: white; */
  margin-left:100px;
  width: 500px;
}
#company_solution .row:nth-child(3){
  width: 400px;
}
#company_solution .row:nth-child(4){
  width: 400px;
}
#company_industries .row:nth-child(3){
  width: 400px;
}
#company_technologies .row:nth-child(3),
#company_technologies .row:nth-child(4)
{
  width: 300px;
}
.content .row:nth-child(3){
  /* background: white; */
  align-items: start;
  /* width: 400px; */
}
.row  .mega-links li{
  padding: 0 20px;
  
}
.row  .mega-links li a{
  padding: 0 20px;
  color: black;
  font-size: 17px;
  
  display: block;
}
.rowheader  .mega-links li a:hover{
  color: #f2f2f2;
}

.carousel-item::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.7;
}
.carousel-caption{
  bottom: 510px;
  padding-left: 100px;
  padding-right: 100px;
  text-wrap: nowrap;
}
.carousel-caption h5{
  font-size: 60px;
  font-weight: 600;
}
.carousel-control-prev{
  bottom: 260px;
}
.carousel-control-next{
  bottom: 260px;
}

 /* End Head container */





 /* Start of Frequen used */
.faq_container{
width: 100%;
margin-top: 130px;
}

* {
box-sizing: border-box;
&::before, &::after {
    box-sizing: border-box;
}
}

.container_divfaq {
margin: 0 auto;
padding: 4rem;
width: 94rem;
}

.accordion_faq {
.accordion-item_div1{
    border-bottom: 1px solid lightblue;
    padding-bottom: 10px;
    button[aria-expanded='true'] {
    border-bottom: 1px solid red;
    }
}
}
.li_footer_1{
list-style: disc;
}

button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    /* color: $text; */
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
    &:hover, &:focus {
    cursor: pointer;
    color: blue;
    &::after {
        cursor: pointer;
        color: blue;
        border: 1px solid blue;
    }
    }
    .accordion-title {
    padding: 1em 1.5em 1em 0;
    }
    .icon_faq {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
    &::before {
        display: block;
        position: absolute;
        content: '';
        top: 9px;
        left: 5px;
        width: 10px;
        height: 2px;
        background: currentColor;
    }
    &::after {
        display: block;
        position: absolute;
        content: '';
        top: 5px;
        left: 9px;
        width: 2px;
        height: 10px;
        background: currentColor;
    }
    }
}
button[aria-expanded='true'] {
    color: blue;
    .icon {
    &::after {
        width: 0;
    }
    }
    + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
    }
}
.accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    
    .freq_qus{
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
    }
}
 /* end of Frequen used */

 /* start of the explore offering */

.containerdetails{
    background-color:#FAFAFA;
    /* padding: 30% 5%; */
    padding: 40% 4% 6% 6%;
    align-items: center;
    margin-bottom: 10%;
    /* position: relative; */
}
.a-section_title{
    font-family: Arial, sans-serif;
    font-weight: 950;
    margin-top: -35%;
}
.a-section_title::after{
    background-color: #ed8b00;
    content: "";
    display: block;
    height: 2px;
    margin: 10px 0 0;
    width: 40px;
}
::after, ::before{
    box-sizing: border-box;
}

    
/* Style the tab */
.tab {
float: left;
border: 1px solid #ccc;
background-color:#0B3155;
width: 28%;
height: 300px;
padding: 3% 0% 48% 0%;
margin-top: -50px;
margin-right: 50px;
box-shadow: 0 2px 37px 0 rgba(0,0,0,.4);
}
      
/* Style the buttons inside the tab */

.tab button {
display: block;
background-color: inherit;
color: white;
/* padding: 22px 16px;
width: 100%; */
border: none;
outline: none;
text-align: left;
cursor: pointer;
transition: 0.3s;
font-size: 17px;
width: 90%;
}

.tabs .tab .tablinks{
padding: 16px 10px 16px 4px;
/* width: calc(100% + 30px); */
transform: translateX(90px);
}

/* Create an active/current "tab button" class */
.tab button.active {
background-color: #005EB8;
}

/* Style the tab content */
.tabcontent {
text-align: center;
font-size: 20px;
padding: 0px 19px;
border: 1px solid #ccc;
width: 90%;
border-left: none;
height: 700px;
background-color: white;
margin-top: 10%;
padding-top: 40px;
margin-left: 30px;
box-shadow: 0 2px 37px 0 rgba(0,0,0,.4);
}
    
.listdetails{
display: flex;
list-style: disc;
text-align: center;
padding-top: 2%;
padding-left: 7%;
text-align:left;

} 

.list1{
padding-right: 70px;
padding-bottom: 90px;

}
.line{
padding-bottom: 30px;
}

.list2{
padding-right: 150px;
padding-left: 50px;
padding-bottom: 90px;
}
.list3{
padding-right: 60px;
padding-left: 30px;
padding-bottom: 90px;
}
.list4{
padding-right: 150px;
padding-left: 7px;
padding-bottom: 90px;
}
.list5{
padding-right: 150px;
padding-left: 7px;
padding-bottom: 90px;
}

.list6{
padding-right: 170px;
padding-left: 7px;
padding-bottom: 90px;
}

.list7{
padding-right: 180px;
padding-left: 7px;
padding-bottom: 90px;
}

.list8{
padding-right: 180px;
padding-left: 7px;
padding-bottom: 90px;
}

.list9{
padding-right: 180px;
padding-left: 7px;
padding-bottom: 90px;
}

/* end of the explore offering */

/* Start success stories */

.stories_container{
    background-color: #FAFAFA;
    width: 100%;
  }
  .ss_container{
    width: 100%;
  }
  .a-section__title_1{
    padding-right: 290px;
    padding-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .a-section__title_1::after{
    background-color: #ed8b00;
    content: "";
    display: block;
    height: 2px;
    margin: 10px 0 0;
    width: 40px;
  }
  
  .container_boxes_1 {
    position: relative;
    width: 50%;
  }
  .container_boxes_2 {
    position: relative;
  }
  .container_boxes_3{
    position: relative;
  }
  .container_boxes_4{
    position: relative;
  }
  .container_boxes_5 {
    position: relative;
    width: 30%;
  }
  img.success_box{
    opacity: 0.4;
  }
  img.success_box_1{
    opacity: 0.4;
  }
  img.success_box_2{
    opacity: 0.4;
  }
  img.success_box_3{
    opacity: 0.4;
  }
  img.success_box_4{
    opacity: 0.4;
  }
  .success_box {
    /* padding: 60px 0px 40px 200px; */
    max-width: 400px;
    margin-left: 200px;
    margin-top: 62px;
    margin-bottom: 30px;
    transform: scaleX(1.3);
    /* transform: scaleY(1.2); */
    /* padding: 300px 30px; */
  }
  .success_box_1{
    /* padding: 0px 70px 0px 0px; */
    max-width: 710px;
    margin-right: 210px;
    margin-top: 62px;
    /* transform: scalex(1.2); */
    /* padding: 300px 30px; */
  }
  .success_box_2{
    padding: 0px 80px 0px 50px;
    max-width: 700px;
    margin-left: 120px;
    margin-top: 26px;
    width: 40px;
    scale: 1.1;
    transform: scaleY(1.2);
    /* padding: 300px 30px; */
  }
  .success_box_3{
    padding: 0px 40px 50px 100px;
    max-width: 500px;
    margin-right: 100px;
    margin-top: 20px;
    width: 40px;
    scale: 1.2;
    transform: scaleX(1.1);
    /* padding: 300px 30px; */
  }
  .success_box_4{
    margin-top: 22px;
    margin-left: 60px;
    max-width: 600px;
    scale: 1.3;
    transform: scaleY(1);
  }
  .container_boxes_1 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 75.4%;
    width: 76%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    margin-top: 62px;
    margin-left: 138px;
  }
  .container_boxes_2 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 76%;
    width: 85.4%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    margin-top: 62px;
  }
  
  .container_boxes_3 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 94.2%;
    width: 86.4%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    margin-top: -12px;
    margin-left: 140px;
  }
  .container_boxes_4 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 93.9%;
    width: 84.6%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    margin-top: -11px;
    margin-left: 70px;
  }
  .container_boxes_5 .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 99%;
    width: 66.5%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    margin-top: -16px;
    margin-left: 29px;
    /* margin-right: 10px; */
  }
  
  .container_boxes_1:hover .overlay {
    opacity: 1;
  }
  
  .container_boxes_2:hover .overlay {
    opacity: 1;
  }
  .container_boxes_3:hover .overlay {
    opacity: 1;
  }
  .container_boxes_4:hover .overlay {
    opacity: 1;
  }
  .container_boxes_5:hover .overlay {
    opacity: 1;
  }
  
  .text_1 {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 37%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    justify-content: left;
  }
  .text_2 {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 36%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    justify-content: left;
  }
  .text_3 {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 36%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    justify-content: left;
  }
  .text_4 {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 36%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    justify-content: left;
  }
  .text_5 {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 20%;
    left: 36%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: left;
    justify-content: left;
  }
  .pg_main{
    margin: 110px 11px 0px 1px;
  }
  .pg_main_1{
    margin: 110px 90px 0px -19px;
  }
  .pg_main_2{
    margin: 129px 90px 0px -19px;
  }
  #pg_one{
   padding: 6px;
  }
  #pg_one_1{
    padding: 3px;
   }
  .flex_container_1{
    display: flex;
    width: 100%;
    coloumn-gap: 20px;
  }
  
  .tabs_icons_main{
    width: 100%;
  }
  
  .a-section_title_2{
    padding-right: 290px;
    padding-top: 50px;
    margin-left: 100px;
    margin-bottom: 50px;
  }
  .a-section_title_2::after{
    background-color: #ed8b00;
    content: "";
    display: block;
    height: 2px;
    margin: 10px 0 0;
    width: 40px;
  }
/* End of the success stories */

/* start of featured_insights */
.card {
  max-width: 300px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  overflow: hidden;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 20px;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.featured_area_1{
  display: flex;
}

.btn:hover {
  background-color: #0056b3;
}

/* end of featured_insights */